.Nav-Bar {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    /* border: 1px solid white; */
    height: 10rem;
    background-color: var(--primary-color);
}
.part-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.part-2-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}
.part-2-2 {
    display: flex;
    flex-direction: row;
}
.part-2-2-1 {
    display: flex;
    color: var(--white-color);
    list-style: none;
    gap: 1rem;
    cursor: pointer;
}
.part-2-3 button{
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1rem;
    border-radius: 0.5rem;
}